.card {
    border-radius: 15px;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.btn-danger:hover {
    background-color: #b02a37;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.btn-secondary:hover {
    background-color: #565e64;
}