{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Editar Funcionario{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Editar Funcionario</h2>
    <div class="card bg-dark text-white p-4 shadow">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <a href="{% url 'lista_funcionarios' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
